@font-face {
  font-family: "paneuropa_neue_beta_1.1Rg";
  src: url("./asets/fonts/webfontkit-20201012-101627/paneuropaneueregular-webfont.woff2")
      format("woff2"),
    url("./asets/fonts/webfontkit-20201012-101627/paneuropaneueregular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "baskervillenormal";
  src: url("./asets/fonts/webfontkit-20201014-140058/baskvl-webfont.woff2")
      format("woff2"),
    url("./asets/fonts/webfontkit-20201014-140058/baskvl-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "paneuropa_neue_beta_1.1Rg";
}

a {
  text-decoration: none;
}

.askInput {
  background: rgb(0, 137, 172);
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 3px;
  font-size: 3em;
  width: 40vw;
  text-align: center;
  text-transform: capitalize;
  color: black;
  font-family: "baskervillenormal", serif;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: capitalize;

  -webkit-transform: rotate(-1.75deg);
}

.askInput:focus {
  border: 0;
  border-bottom: 2px solid white;
  outline-style: none;
  box-shadow: none;
}

.askForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
  margin-top: 20vh;
  flex-direction: column;
}

.balanceAdress {
  color: white;
  font-size: 0.3em;
  font-family: "baskervillenormal", serif;
  line-height: 0.3em;
}

.balanceAdress:hover {
    color: black;
}

.balanceAskBottom {
  margin-bottom: 1em;
}

.balanceButtonB {
  font-family: "baskervillenormal", serif;
  font-weight: bolder;
  text-align: center;
  color: black;
  border: none;
  background: none;
  margin-top: 1.6em;
  font-size: 3em;
  text-decoration: none;
  cursor: pointer;
}

.balanceButtonW {
  color: white;
}

.balanceCenterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.balanceChevron {
    color: black;
    font-size: 0.8em;
  }

.balanceChevronBlack {
  color: black;
  font-size: 0.8em;
}

.balanceChevronWhite {
  color: white;
  font-size: 0.8em;
}

.balanceImageLineSmall {
  width: 80vw;
}

.balanceImageLineBig {
  width: 84vw;
}

.balanceInfo {
  font-size: 1.8em;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 0.9em;
  margin-bottom: 3em;
}

.balanceLine {
  border-top: 0.15em solid black;
  width: 60vw;
  margin-top: -2.4em;
  float: center;
  -webkit-transform: rotate(-1.75deg);
}

.balanceLineContainer {
  width: 100vw;
  text-align: right;
}

.balanceSubtitle {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-top: -0.2em;
}

.balanceSubtitleBottom {
  margin-bottom: 2.2em;
}

.balanceTitle {
  color: white;
  font-size: 6em;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 25vh;
  margin-bottom: 0em;
  text-transform: uppercase;
  -webkit-transform: rotate(-1.75deg);
}

.balanceVersion {
  font-family: "baskervillenormal", serif;
  font-size: 0.7em;
  margin-top: 6em;
}

body {
  background-color: rgb(0, 137, 172);
}

.capitalize {
  text-transform: capitalize;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.marginTop {
  margin-top: 2em;
}

.replyAdress {
  vertical-align: top;
  color: red;
  height: auto;
}

.replayContainer {
  width: 60vw;
}

.replyHeader {
  color: black;
  font-size: 4em;

  letter-spacing: 0.02em;
  font-family: "baskervillenormal", serif;
  width: 100%;

  margin-top: 20vh;
  margin-bottom: 0.5em;
}

.replyHeaderSpan {
  font-family: "baskervillenormal", serif;
}

.white {
  color: white;
}

@media (max-width: 450px) {
  .balanceButtonB {
    margin-top: 1.6em;
    font-size: 2.8em;
  }

  .balanceImageLineSmall {
    width: 90vw;
  }

  .balanceInfo {
    font-size: 1.1em;
    margin-top: 0.9em;
    margin-bottom: 6em;
  }
  .balanceLine {
    border-top: 0.15em solid black;
    width: 75vw;
    margin-top: -1.4em;
    float: center;
    -webkit-transform: rotate(-1.75deg);
  }

  .balanceTitle {
    font-size: 4em;
  }
  .balanceSubtitle {
    font-size: 1.3em;
  }

  .balanceSubtitleBottom {
    margin-bottom: 4.4em;
  }

  .replayContainer {
    width: 75vw;
  }
  .replyHeader {
    font-size: 2.3em;
    margin-top: 10vh;
  }
}
