* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: #00c3ff;
}

h1 {
    font-weight: 200;
    font-size: 7em;
    margin: 0 auto;
    line-height: 1em;
    color: #ffffff;
}


h2 {
    font-weight: 300;
    display: block;
    margin: 0 auto;
    margin-bottom: 3em;
    color: #ffffff;
    font-size: 2em;

}

.container {
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.center {
    text-align: center;
}

.titleRotation {
    transform: rotate(-2deg);
}

.weight400 {
    font-weight: 400;
}

.weight300 {
    font-weight: 300;
}

button {
    font-family: Oswald;
    border: none;
    background: none;
    margin: 0.5em;
    font-size: 1.6em;
}

.worth:hover {
    font-size: 2em;
}

.check {
    font-family: 'Baskervville', serif;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 3em;
}

.check:hover {
    
    color: white;
}

.input {
    background: #00c3ff;
    border: 0;
    border-bottom: 2px dashed white;
    border-radius: 3px;
    font-size: 4em;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: white;
    font-family: 'Lobster', cursive;
    width: 60%;
    
   
}

.input:focus {
    border: 0;
    border-bottom: 2px dashed black;
    outline-style:none;
box-shadow:none;


}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form {
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    
    margin: 0 auto;
    margin-top: 5rem;
    flex-wrap: wrap;
    flex-direction: column;
}

label {
    font-family: 'Baskervville', serif;
    font-weight: 500;
    font-size: 2em;
    margin: 1em 0;
    color: white;
}

.image {
    width: 4em;
    height: 4em;
    margin: 0.3em;
}

.thing {
    font-family: 'Baskervville', serif;
    font-size: 1.5em;
    color: black;
    margin: 1.5em;
    line-height: 1.2em;
    text-transform: capitalize;
}

.top5rem {
    margin-top: 5em;
}

.a {
    text-decoration: none;
    color: black;
}

.a:hover {
    color: white;
}

.ainvert {
    font-family: 'Baskervville', serif;
    font-weight: 100;
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.ainvert:hover {
    color: black;
}

h3 {
    color: white;
}