* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: #00c3ff;
    margin: 0 auto;
}

html {
    margin: 0 auto;
}

h1 {
    font-weight: 200;
    font-size: 7em;
    margin: 0 auto;
    line-height: 1em;
    color: #ffffff;
}


h2 {
    font-weight: 300;
    display: block;
    margin: 0 auto;
    margin-bottom: 3em;
    color: #ffffff;
    font-size: 2em;

}

.container {
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    margin: 0 auto;
    
    flex-direction: column;
}



.center {
    text-align: center;
}

.titleRotation {
    font-family: 'Baskervville', serif;
}

.weight400 {
    font-weight: 400;
}

.weight300 {
    font-weight: 300;
}

button {
    font-family: Oswald;
    border: none;
    background: none;
    margin: 0.5em;
    font-size: 1.6em;
}

.worth:hover {
    font-size: 2em;
}

.check {
    font-family: 'Baskervville', serif;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 3em;
}

.check:hover {
    
    color: white;
}

.input {
    background: #00c3ff;
    border: 0;
    border-bottom: 2px dashed white;
    border-radius: 3px;
    font-size: 4em;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: white;
    font-family: 'Baskervville', serif;
    width: 60%;
    
   
}

.input:focus {
    border: 0;
    border-bottom: 2px dashed black;
    outline-style:none;
    box-shadow:none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.margin3em {
    margin: 0 3em;
}

.margintop20vh {
    margin-top: 30vh;
}

.form {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0 auto;
    margin-top: 5rem;
    flex-wrap: wrap;
    flex-direction: column;
}

label {
    font-family: 'Baskervville', serif;
    font-weight: 500;
    font-size: 2em;
    margin: 1em 0;
    color: white;
}

.image {
    width: 4em;
    height: 4em;
    margin: 0.3em;
}

.thing {
    font-family: 'Baskervville', serif;
    font-size: 1.3em;
    color: black;
    margin: 1.5em;
    line-height: 1.4em;
    text-transform: capitalize;
}

.top1em {
    margin-top: 0.6em;
}

.a {
    text-decoration: none;
    color: black;
}

.a:hover {
    color: white;
}

.ainvert {
    font-family: 'Baskervville', serif;
    font-weight: 100;
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.ainvert:hover {
    color: black;
}

h3 {
    color: white;
}

@media (max-width: 1024px) {

    .check {
        font-weight: bold;
        font-size: 2em;
    }
    .checkmargintop20vh {
        margin-top: 25vh;
    }
    .container {
        margin: 2em auto;
    }
    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 7em;
       
    }
    h1 {
        font-size: 5em;
        
        margin: 0 auto;
        }

    h2 {
        font-size: 1em;
        margin: 0em 1em;
        margin-bottom: 2em;
    }
    h3 {
        font-size: 1em;
    }
    .input {
        
        font-size: 2em;
    }
    .image {
        width: 2em;
        height: 2em;
        margin: 0.1em;
    }
    label {
        font-size: 1.5em;
    }
    
    
    .mainh2 {
        font-size: 1.5em;
    }
    .margintop10vh {
        margin-top: 10vh;
    }
    .margintop20vh {
        margin-top: 20vh;
    }
    .thing {
        
        font-size: 1em;
        margin: 0 auto;
    }
    .titleRotation {
        font-size: 4em;
        font-weight: bold;
    }
    .top1em {
        margin-top: 0em;
    }
}